		<nav id="h" class="blog-nav layui-header">
			<div class="blog-container">
				{if condition="user_is_login()"}
				<a style="color:#fff;font-size:18px;right:50px;" href="{:url('user/index')}" class="blog-user">
					{:user_is_login();}
				</a>
				<a style="color:#fff;font-size:18px;right:40px;" href="javascript:;" class="blog-user">
					|
				</a>
				<a style="color:#fff;font-size:18px;" href="{:url('user/loginOut')}" class="blog-user">
					退出
				</a>
				{else /}
				<a style="color:#fff;font-size:18px;right:50px;" href="{:url('user/login')}" class="blog-user">
					登录
				</a>
				<a style="color:#fff;font-size:18px;right:40px;" href="javascript:;" class="blog-user">
					|
				</a>
				<a style="color:#fff;font-size:18px;" href="{:url('user/reg')}" class="blog-user">
					注册
				</a>
				{/if}

				<a class="blog-logo" href="index.html">Long</a>

				<ul class="layui-nav" lay-filter="nav">
					<li class="layui-nav-item">
						<a href="/"><i class="fa fa-home fa-fw"></i>&nbsp;网站首页</a>
					</li>
					<li class="layui-nav-item">
						<a href="{:url('article/index')}"><i class="fa fa-file-text fa-fw"></i>&nbsp;文章专栏</a>
					</li>
					<li class="layui-nav-item">
						<a href="{:url('shop/index')}"><i class="fa fa-paper-plane-o fa-fw"></i>&nbsp;商铺列表</a>
					</li>
					<li class="layui-nav-item">
						<a href="timeline.html"><i class="fa fa-hourglass-half fa-fw"></i>&nbsp;点点滴滴</a>
					</li>
					<li class="layui-nav-item">
						<a href="about.html"><i class="fa fa-info fa-fw"></i>&nbsp;关于本站</a>
					</li>
					<span class="layui-nav-bar"></span></ul>

				<a class="blog-navicon" href="javascript:;">
					<i class="fa fa-navicon"></i>
				</a>
			</div>
		</nav>