<div class="view-sidebar">
				<div class="sidebar-content">
					<!-- <div class="sidebar-nav">
						<div class="sidebar-title">
							<a href="#">
								<span class="icon"><b class="fl icon-arrow-down"></b></span>
								<span class="text-normal">产品与服务</span>
							</a>
						</div>
						<ul class="sidebar-trans">
							<li>
								<a href="webSet.html">
									<b class="sidebar-icon"><img src="__IMG__/icon_author.png" width="16" height="16" /></b>
									<span class="text-normal">站点管理</span>
								</a>
							</li>
							<li>
								<a href="smsInfo.html">
									<b class="sidebar-icon"><img src="__IMG__/icon_message.png" width="16" height="16" /></b>
									<span class="text-normal">短信</span>
								</a>
							</li>
						</ul>
					</div> -->
					<div class="sidebar-nav">
						<!-- <div class="sidebar-title">
							<a href="#">
								<span class="icon"><b class="fl icon-arrow-down"></b></span>
								<span class="text-normal">用户中心</span>
							</a>
						</div> -->
						<ul class="sidebar-trans">
							<!-- 
							<li>
								<a href="identify.html">
									<b class="sidebar-icon"><img src="__IMG__/icon_authentication.png" width="16" height="16" /></b>
									<span class="text-normal">实名认证</span>
								</a>
							</li>
							<li>
								<a href="message.html">
									<b class="sidebar-icon"><img src="__IMG__/icon_news.png" width="16" height="16" /></b>
									<span class="text-normal">消息中心</span>
								</a>
							</li>
							<li>
								<a href="money.html">
									<b class="sidebar-icon"><img src="__IMG__/icon_gold.png" width="16" height="16" /></b>
									<span class="text-normal">金币管理</span>
								</a>
							</li> -->
							{if condition="!get_shop_entry()"}
							<!-- <li>
								<a href="webSet.html">
									<b class="sidebar-icon"><img src="__IMG__/icon_author.png" width="16" height="16" /></b>
									<span class="text-normal">密码管理</span>
								</a>
							</li> -->
							<li>
								<a href="{:url('user/product')}">
									<b class="sidebar-icon"><img src="__IMG__/icon_cost.png" width="16" height="16" /></b>
									<span class="text-normal">产品管理</span>
								</a>
							</li>
							<li>
								<a href="{:url('user/order')}">
									<b class="sidebar-icon"><img src="__IMG__/icon_order.png" width="16" height="16" /></b>
									<span class="text-normal">订单管理</span>
								</a>
							</li>
							<li>
								<a href="{:url('user/user_order')}">
									<b class="sidebar-icon"><img src="__IMG__/icon_order.png" width="16" height="16" /></b>
									<span class="text-normal">我的订单</span>
								</a>
							</li>
							<li>
								<a href="{:url('address/index')}">
									<b class="sidebar-icon"><img src="__IMG__/icon_cost.png" width="16" height="16" /></b>
									<span class="text-normal">地址管理</span>
								</a>
							</li>
							<li>
								<a href="{:url('shebei/index')}">
									<b class="sidebar-icon"><img src="__IMG__/icon_cost.png" width="16" height="16" /></b>
									<span class="text-normal">设备管理</span>
								</a>
							</li>


							{else /}

							<li>
								<a href="{:url('user/user_order')}">
									<b class="sidebar-icon"><img src="__IMG__/icon_order.png" width="16" height="16" /></b>
									<span class="text-normal">我的订单</span>
								</a>
							</li>
							<li>
								<a href="{:url('address/index')}">
									<b class="sidebar-icon"><img src="__IMG__/icon_cost.png" width="16" height="16" /></b>
									<span class="text-normal">地址管理</span>
								</a>
							</li>
							<li>
								<a href="{:url('shebei/index')}">
									<b class="sidebar-icon"><img src="__IMG__/icon_cost.png" width="16" height="16" /></b>
									<span class="text-normal">设备管理</span>
								</a>
							</li>
							{/if}
						</ul>
					</div>
				</div>
			</div>