{include file="public/top" /}
<link rel="stylesheet" href="__HUI__/lib/layui/css/layui.css" media="all">
<title>新增文章 - 资讯管理</title>
</head>
<body>
<article class="page-container">
	<form class="form form-horizontal" id="form-article-edit">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">文章标题：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$res.title}" placeholder="" id="" name="title">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">分类栏目：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select name="category_id" class="select">
					<option value="0">全部分类</option>
					{volist name="category" id="vo"}
					<option {if condition="$res['category_id'] == $vo['id']"}selected{/if} value="{$vo.id}">{$vo.name}</option>
					{/volist}
				</select>
				</span> 
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">排序值：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$res.sort}" placeholder="" id="" name="sort">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">是否推荐：</label>
			<div class="formControls col-xs-8 col-sm-9 skin-minimal">
				<div class="check-box">
					<input name="is_index" {if condition="$res['is_index'] == 1"}checked{/if} type="checkbox" id="checkbox-is_index">
					<label for="checkbox-is_index">&nbsp;</label>
				</div>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">是否显示：</label>
			<div class="formControls col-xs-8 col-sm-9 skin-minimal">
				<div class="check-box">
					<input name="status" {if condition="$res['status'] == 1"}checked{/if} type="checkbox" id="checkbox-pinglun">
					<label for="checkbox-pinglun">&nbsp;</label>
				</div>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">缩略图：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<div class="uploader-thum-container">
					<button type="button" class="layui-btn" id="cover">
						<i class="layui-icon">&#xe67c;</i>上传图片
					</button>
					<div id="image">
						{if condition="$res['cover_id']"}
							<img style='display:block;width:200px;height:80px;' src="{:get_cover($res['cover_id'],'path')}" alt="">
							<input type="hidden" id="cover_id" name="cover_id" value="{$res['cover_id']}">
						{/if}
					</div>
				</div>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">文章内容：</label>
			<div class="formControls col-xs-8 col-sm-9"> 
				<script id="editor" name="content" type="text/plain" style="width:100%;height:400px;">{$res.content}</script> 
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button id="edit_acticle" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存并提交审核</button>
				<button onClick="removeIframe();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
</article>

{include file="public/footer" /}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__HUI__/lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="__HUI__/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="__HUI__/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="__HUI__/lib/jquery.validation/1.14.0/messages_zh.js"></script>   
<script type="text/javascript" src="__HUI__/lib/webuploader/0.1.5/webuploader.min.js"></script> 
<script type="text/javascript" src="__HUI__/lib/ueditor/1.4.3/ueditor.config.js"></script> 
<script type="text/javascript" src="__HUI__/lib/ueditor/1.4.3/ueditor.all.min.js"> </script> 
<script type="text/javascript" src="__HUI__/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" src="__HUI__/lib/layui/layui.js"></script>
<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});	
	var ue = UE.getEditor('editor');

	// 修改新闻
	$("#edit_acticle").click(function(){
		var url  = "{:request()->url()}";
		var data = $("#form-article-edit").serialize();
    	data = decodeURIComponent(data,true);
    	
    	$.post(url,data,function(data){
		    if (data.code>0) {
		        layer.msg(data.msg,function(){
		          var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
		          parent.layer.close(index); //再执行关闭 
		        });
		    }else{
		        layer.msg(data.msg);
		    }
	    })
    	return false;
	})
	
	layui.use('upload', function(){
		var upload = layui.upload;

		// 单图上传
		var uploadInst = upload.render({
			elem: '#cover' //绑定元素
			,url: "{:url('update/image')}" //上传接口
			,done: function(res){
				//上传完毕回调
				$("#image").html('<img style="display:block;width:200px;height:80px;" src="'+res.data.src+'" alt=""><input type="hidden" name="cover_id" value="'+res.data.cover_id+'">');
			}
			,error: function(res){
				layer.msg(res.msg);
			}
		});
	});
});
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>