<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>商品管理</title>
		{include file="public/user_top" /}
	</head>

	<body>
		{include file="public/user_header" /}
		<div class="view-body">
			{include file="public/user_nav" /}
			<div class="view-product">
				<div class="info-center">
		            <div class="manage-head">
		                <h6 class="padding-left manage-head-con">商品管理</h6>
		            </div>
		            <div class="offcial-table tr-border input-table table-margin clearfix">
		            	<div style="width:200px;height:40px;line-height: 40px;background: bisque;text-align: center;font-size: 18px;"><a style="display: block;" href="{:url('user/product_add')}">添加商品</a></div>
		                <div class="tr-th clearfix">
		                	<div class="th w5">ID</div>
		                    <div class="th w20">商品名称</div>
		                    <div class="th w25">商品图片</div>
		                    <div class="th w10">价格</div>
		                    <div class="th w10">
		                    	状态
		                    </div>
		                    <div class="th w30 text-center">操作</div>
		                </div>
		               {notempty name="list"}
		               {volist name="list" id="vo"}
		                <div style="line-height: 100px;" class="tr clearfix border-bottom-none">
		                	<div class="td w5">{$vo.id}</div>
		                    <div class="td w20">{$vo.title}</div>
		                    <div class="td w25" style="height:100px;"><img src="{$vo['cover_id']|get_cover='path'}" style="width:80%;height:100px;" alt=""></div>
		                    <div class="td w10">{$vo.price}</div>
		                    <div class="td w10">
		                    	{if condition="$vo['status'] == 1"}显示{else/}隐藏{/if}
		                    </div>
		                    <div class="td w30 text-center">
		                    	<a class="button-word2" href="{:url('user/product_edit',array('id'=>$vo['id']))}">编辑</a>&nbsp;
								<a href="javascript:;" msg="您是否删除此产品，如果删除则会永久消失？" callback="del_site(624)" data-id="" class="button-word2 btn_ajax_confirm">删除</a>
		                    </div>
			            </div>
			            {/volist}
			            {else /}
		                <div class="tr non-info show border-bottom-none">
			            	<span>没查询到符合条件的记录</span>
			            </div>
			            {/notempty}
			        </div>
		        </div>
		        <div class="show-page padding-big-right hidden">
					<div class="page">
											</div>
		        </div>
			</div>
		</div>
		
		<script>
			$(".sidebar-title").live('click', function() {
				if ($(this).parent(".sidebar-nav").hasClass("sidebar-nav-fold")) {
					$(this).next().slideDown(200);
					$(this).parent(".sidebar-nav").removeClass("sidebar-nav-fold");
				} else {
					$(this).next().slideUp(200);
					$(this).parent(".sidebar-nav").addClass("sidebar-nav-fold");
				}
			});
		</script>
	</body>

</html>